<section class="cardbox">
    <div class="heading"> 
        <h3>{{ restaurant.get('name') }}</h3> 
    </div>
    <img src={{ restaurant.get('image_url') }} alt="restaurant image" style="width:100%; height: 48%;"/>
    <div class="cardbody"> 
        <p>{{ restaurant.get('display_address') }}</p>
    </div>
    <div class="extrainfo">
        <p>Price: {{ restaurant.get('price') }}</p>
        <p>Rating: {{ restaurant.get('rating') }}</p>
        <p># Reviews: {{ restaurant.get('review_count') }}</p>
    </div>
</section>